
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --white:hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
body{
    background-color: var(--light-gray);
    font-family: 'Outfit', 'sans-serif';
    min-height: 100vh;
    display: flex;
    align-items: center;
   
}
.container{
    max-width: 360px;
    margin: 0 auto;

}
.card {
    background-color: var(--white);
    padding:18px;
    border-radius: 17px;
    text-align: center;
}
.card img{
    width:100%;
    border-radius: 12px;
}
.text{
    padding:22px 10px;
}
.text h2{
    color:var(--dark-blue);
    padding-bottom:15px;
   
}
.text p{
    color:var(--grayish-blue);
     font-size: 15px;
}